.risk {
  &__title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__info {
    @include blockDecor;

    padding: 1rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: $riskBg;
  }
}