
$primary-color: #40b3b7;
$primary-color-light: #dafbf1;
$font-color: #18204a;
$font-color-light: #a0a8c5;

$bgMain: #fafbff;
$riskBg: #fff4cc;
$inputBg: #f3f6fb;
$overlayBg: rgba(27, 35, 74, 0.7);

$borderRadius: 8px;
$borderColor: #a0a8c5;

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 992px;
$bp-ls-tablets: 768px;
$bp-phones: 540px;
